@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');

body {
  margin: 0;
  font-family: "Source Sans Pro";
  color: #202020;
  background-color: white;;
  padding: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*:focus{
  /* outline: 2px solid #f0be20; */
  /* background-color: #f0be20; */
}

