@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');

body {
  margin: 0;
  font-family: "Source Sans Pro";
  color: #202020;
  background-color: #F8F8F8;

}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*:focus {
  border: 2px solid #f0be20 !important;
  outline: 3px solid black;
  border-radius: 4px;
  border-radius: 4px;
}

.hover-box{
  transition: all 0.4s ease;
  border: 5px solid transparent;
}

.hover-box:hover{
  border: 5px solid #f0be20;
}
